<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Dog Donation Shelters">
  	<meta name="keywords" content="dogs, dog, breed, donate">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Donate to dog shelters!</title>
		<link rel="stylesheet" href="../styles/donate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
	</head>
	<body>
    <h1>Here is a list of shelters you can donate to</h1>
    <a href="https://www.hopeforpaws.org/donate" target="_blank">Hope for Paws</a>
    <p>"Your gift to Hope For Paws goes straight to work helping us save animals - by supporting our rescue operations and helping us provide medical care."</p>
    <a href="https://apbf.dog/donate/" target="_blank">American Pitbull Foundation</a>
    <p>"You can give knowing that your whole gift helps a veteran get paired with a service dog, a child learn about responsible pet ownership, educating government leaders about animal rights or a family stay connected with their pet."</p>
    <a href="https://www.animalaidunlimited.org/" target="_blank">Animal Aid Unlimited</a>
    <p>"Street animals need our protection. Help them today."</p>
    <a href="https://angelsrescue.org/donate/" target="_blank">Angels Among Us</a>
    <p>"We aim to Rescue One Until There Are None".</p>
    <a href="https://housewithaheart.com/support-hwah/" target="_blank">House With A Heart</a>
    <p>"Your gifts enable us to care for a large number of senior and special needs dogs as well as some senior kitties.  With your help, we are able to provide a wonderful home for them and make sure they have the best medical care possible."</p>
    <a href="https://support.bestfriends.org/site/Donation2?df_id=3805&3805.donation=form1&mfc_pref=T" target="_blank">Best Friends Animal Society</a>
    <p>"Your contribution to Best Friends goes straight to work helping tens of thousands of animals—both at the Sanctuary and through outreach and rescue programs all across the country."</p>
    <a href="https://www.jamesonanimalrescueranch.org/donate/donation" target="_blank">Jameson Animal Rescue Ranch</a>
    <p>"By providing support to Jameson Humane, you are saving animals!"</p>
    <a href="https://muttville.org/donate" target="_blank">Muttyville Senior Dog Rescue</a>
    <p>"Your gift will save the lives of wonderful dogs. 89% of our revenue comes from individual donors like you!"</p>
    <a href="https://secure.aspca.org/donate/donate?ms=wb_top_donate&initialms=wb_top_donate&pcode=WEBMEMBER&lpcode=WEBGUARD" target="_blank">American Society for the Prevention of Cruelty to Animals</a>
    <p>"For over 150 years, the ASPCA has worked tirelessly to put an end to animal abuse and neglect."</p>
    <a href="https://www.rottenrottie.com/donate.html" target="_blank">Rotten Rottie Rescue</a>
    <p>"Rotten Rottie Rescue is a non profit 501C3 small rescue and our goal is to rescue, restore health, and place rottweilers in safe adoptive and foster homes."</p>
    <footer>
      <a href="../index.html">Home</a>
      <a href="info.html">Info</a>
    </footer>
  </body>
  </html>
