<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  	<meta name="description" content="Dog Information">
  	<meta name="keywords" content="dogs, dog, breed, info">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Donate to dog shelters!</title>
		<link rel="stylesheet" href="../styles/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
</head>
  <body>

<h2>Dog Data</h2>

<table style="font-family: Trocchi, serif";>
  <tr>
    <th>Breed</th>
    <th>Weight</th>
    <th>Country of Origin</th>
  </tr>
  <tr>
    <td>Affenpinscher</td>
    <td>7-13 lbs</td>
    <td>Germany, France</td>
  </tr>
  <tr>
    <td>African Wild Dog</td>
    <td>50 lbs</td>
    <td>Sub-Saharan Africa</td>
  </tr>
  <tr>
    <td>Airedale</td>
    <td>40-60 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Akita</td>
    <td>60-100 lbs</td>
    <td>Japan</td>
  </tr>
  <tr>
    <td>Appenzeller</td>
    <td>49-71 lbs</td>
    <td>Switzerland</td>
  </tr>
  <tr>
    <td>Basenji</td>
    <td>25 lbs</td>
    <td>Central Africa</td>
  </tr>
  <tr>
    <td>Beagle</td>
    <td>25 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Bluetick</td>
    <td>55-80 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Borzoi</td>
    <td>60-105 lbs</td>
    <td>Russia</td>
  </tr>
  <tr>
    <td>Bouvier</td>
    <td>60-90 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Boxer</td>
    <td>55-70 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Brabancon</td>
    <td>8-10 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Bulldog</td>
    <td>40-55 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Chihuahua</td>
    <td>2-7 lbs</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Chow</td>
    <td>40-90 lbs</td>
    <td>China</td>
  </tr>
  <tr>
    <td>Clumber</td>
    <td>55-85 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Cockapoo</td>
    <td>20-24 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Coonhound</td>
    <td>45-80 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Coton de tulear</td>
    <td>8-13 lbs</td>
    <td>Madagascar</td>
  </tr>
  <tr>
    <td>Dachshund</td>
    <td>16-32 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Dalmatian</td>
    <td>33-71 lbs</td>
    <td>Croatia</td>
  </tr>
  <tr>
    <td>Dhole</td>
    <td>22-37 lbs</td>
    <td>Southeast Asia</td>
  </tr>
  <tr>
    <td>Dingo</td>
    <td>30-45 lbs</td>
    <td>Australia</td>
  </tr>
  <tr>
    <td>Doberman</td>
    <td>70-100 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Entlebucher</td>
    <td>45-65 lbs</td>
    <td>Switzerland</td>
  </tr>
  <tr>
    <td>Eskimo</td>
    <td>40-90 lbs</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>German Shepherd</td>
    <td>40-90 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Groenendael</td>
    <td>40-66 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Havanese</td>
    <td>7-14 lbs</td>
    <td>Cuba</td>
  </tr>
  <tr>
    <td>Hound</td>
    <td>20-115 lbs</td>
    <td>North Africa</td>
  </tr>
  <tr>
    <td>Keeshond</td>
    <td>33-44 lbs</td>
    <td>Netherlands</td>
  </tr>
  <tr>
    <td>Kelpie</td>
    <td>29-42 lbs</td>
    <td>Australia</td>
  </tr>
  <tr>
    <td>Komondor</td>
    <td>88-110 lbs</td>
    <td>Hungary</td>
  </tr>
  <tr>
    <td>Kuvasz</td>
    <td>82-137 lbs</td>
    <td>Hungary</td>
  </tr>
  <tr>
    <td>Labradoodle</td>
    <td>50-90 lbs</td>
    <td>Australia</td>
  </tr>
  <tr>
    <td>Labrador</td>
    <td>55-90 lbs</td>
    <td>United Kingdom</td>
  </tr>
  <tr>
    <td>Leonberger</td>
    <td>100-135 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Lhasa</td>
    <td>11-18 lbs</td>
    <td>Tibet</td>
  </tr>
  <tr>
    <td>Malamute</td>
    <td>74-84 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Malinois</td>
    <td>44-66 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Maltese</td>
    <td>7-9 lbs</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>Mastiff</td>
    <td>70-260 lbs</td>
    <td>Europe, Asia</td>
  </tr>
  <tr>
    <td>Mexican Hairless</td>
    <td>10-55 lbs</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Newfoundland</td>
    <td>55-80 lbs</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Otterhound</td>
    <td>80-115 lbs</td>
    <td>United Kingdom</td>
  </tr>
  <tr>
    <td>Papillon</td>
    <td>7-11 lbs</td>
    <td>Belgium, France</td>
  </tr>
  <tr>
    <td>Pekinese</td>
    <td>7-14 lbs</td>
    <td>China</td>
  </tr>
  <tr>
    <td>Pembroke</td>
    <td>24-31 lbs</td>
    <td>Wales</td>
  </tr>
  <tr>
    <td>Pitbull</td>
    <td>29-60 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Pomeranian</td>
    <td>3-7 lbs</td>
    <td>Pomerania</td>
  </tr>
  <tr>
    <td>Poodle</td>
    <td>14-71 lbs</td>
    <td>Germany, France</td>
  </tr>
  <tr>
    <td>Pug</td>
    <td>14-18 lbs</td>
    <td>China</td>
  </tr>
  <tr>
    <td>Puggle</td>
    <td>18-30 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Pyrenees</td>
    <td>18-33 lbs</td>
    <td>France</td>
  </tr>
  <tr>
    <td>Redbone</td>
    <td>45-70 lbs</td>
    <td>United States</td>
  </tr>
  <tr>
    <td>Retriever</td>
    <td>40-80 lbs</td>
    <td>United Kingdom</td>
  </tr>
  <tr>
    <td>Rottweiler</td>
    <td>77-132 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Saluki</td>
    <td>40-60 lbs</td>
    <td>Fertile Crescent</td>
  </tr>
  <tr>
    <td>Samoyed</td>
    <td>44-66 lbs</td>
    <td>Russia</td>
  </tr>
  <tr>
    <td>Schipperke</td>
    <td>6-20 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Schnauzer</td>
    <td>31-44 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Setter</td>
    <td>64-75 lbs</td>
    <td>England, France, Wales</td>
  </tr>
  <tr>
    <td>Shar Pei</td>
    <td>35-64 lbs</td>
    <td>China</td>
  </tr>
  <tr>
    <td>Sheep Dog</td>
    <td>30-65 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Shiba Inu</td>
    <td>18-22 lbs</td>
    <td>Japan</td>
  </tr>
  <tr>
    <td>Spaniel</td>
    <td>20-35 lbs</td>
    <td>Spain</td>
  </tr>
  <tr>
    <td>Terrier</td>
    <td>6-56 lbs</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Tervuren</td>
    <td>44-55 lbs</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Waterdog</td>
    <td>35-60 lbs</td>
    <td>Portugal</td>
  </tr>
  <tr>
    <td>Weimaraner</td>
    <td>55-88 lbs</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Whippet</td>
    <td>20-42 lbs</td>
    <td>England</td>
  </tr>
</table>
<footer>
  <a href="../index.html">Home</a>
  <a href="donate.html">Donate</a>
</footer>
</body>
</html>